In [9]:
import os
print(os.getcwd())
os.chdir('d:\\vscode_machineLearning\\internship\\Customer-Churn-Prediction')
print(os.getcwd())

d:\vscode_machineLearning\internship\Customer-Churn-Prediction
d:\vscode_machineLearning\internship\Customer-Churn-Prediction

In [10]:
import pandas as pd

In [11]:
train_df = pd.read_csv(r'artifacts/transformed_data/train_transformed.csv')
test_df = pd.read_csv(r'artifacts/transformed_data/test_transformed.csv')

In [12]:
train_df

,Houston,LosAngeles,Miami,NewYork,Age,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB,Gender,remainder__Churn
0,0.0,0.0,0.0,0.0,0.980769,0.217391,0.985429,0.024444,1.0,1.0
1,0.0,1.0,0.0,0.0,0.480769,1.000000,0.999286,0.342222,0.0,1.0
2,0.0,0.0,1.0,0.0,0.653846,0.260870,0.041429,0.117778,0.0,0.0
3,0.0,0.0,1.0,0.0,0.423077,0.130435,0.979857,0.535556,0.0,0.0
4,0.0,0.0,1.0,0.0,0.153846,0.043478,0.505143,0.291111,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
79995,0.0,0.0,1.0,0.0,0.692308,0.956522,0.346714,0.902222,1.0,0.0
79996,0.0,1.0,0.0,0.0,0.403846,0.739130,0.383143,0.844444,1.0,0.0
79997,0.0,1.0,0.0,0.0,0.500000,0.956522,0.347000,0.115556,1.0,1.0
79998,0.0,0.0,1.0,0.0,0.826923,0.913043,0.316143,0.160000,0.0,0.0
79999,0.0,0.0,1.0,0.0,0.750000,0.913043,0.347571,0.437778,1.0,1.0